.cool-services-container {
    background-color: #eeeeeeee;

  
}
.cool-services-title {
  height: 60px;
  font-size: 40px;
  font-weight: 700;
  color: #1a1ea7;
  width: 759.992px;
  padding: 70px 70px 70px 70px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  margin-right: 40px;
 


  }
  .cool-services-description {
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  width: 759.992px;
  padding: 70px 70px 70px 70px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  position: relative;
  top: -70px;
  right: 0px;
  left: -40px;
  display: flex;

 

  
  }
  .cool-services-category-name{
  display: flex;
  height: 60px;
  width: 759.992px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  position: relative;
  bottom: 320px;
  right: 0px;
  left: 820px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  }
  .cool-services-category-description {
 font-size: 17px;
 font-weight: 700;
  width: 759.992px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  position: relative;
  bottom: 320px;
  right: 0px;
  left: 820px;
  padding: 20px;
  color: black;
  }

  

  @media only screen and (width: 412px) and (height: 915px) {
 
    .cool-services-container {
    font-size: 13px;
     padding: 70px;
     margin-left: -90px;
    }
    .cool-services-category-name{
    position: relative;
    bottom:20%;
    left: 10%;
    padding: 25px;
    width: 80%;
    line-height: 1.1;
    
    
    }
    .cool-services-description{

     height: 250px;
     margin-left: -9px;
     width: 150%;
     
    }
    .cool-services-category-description {
      position: relative;
      bottom:10%;
      left: 1%;
      padding: 25px;
      width: 120%;
  
      
    }
    .cool-services-title {
     width: 100%;
     height: 50%;
     margin-left: 23px;
    }
    
    }

    @media only screen and (width: 412px) and (height: 883px) {
 
      .cool-services-container {
      font-size: 13px;
       padding: 70px;
       margin-left: -90px;
      }
      .cool-services-category-name{
      position: relative;
      bottom:20%;
      left: 10%;
      padding: 25px;
      width: 80%;
      line-height: 1.1;
      
      
      }
      .cool-services-description{
  
       height: 250px;
       margin-left: -9px;
       width: 150%;
       
      }
      .cool-services-category-description {
        position: relative;
        bottom:10%;
        left: 1%;
        padding: 25px;
        width: 120%;
    
        
      }
      .cool-services-title {
       width: 100%;
       height: 50%;
       margin-left: 23px;
      }
      
      }

      @media only screen and (width: 360px) and (height: 640px) {
 
        .cool-services-container {
        font-size: 13px;
         padding: 70px;
         margin-left: -90px;
        }
        .cool-services-category-name{
        position: relative;
        bottom:20%;
        left: 10%;
        padding: 25px;
        width: 80%;
        line-height: 1.1;
        
        
        }
        .cool-services-description{
    
         height: 250px;
         margin-left: 5px;
         width: 150%;
         
        }
        .cool-services-category-description {
          position: relative;
          bottom:10%;
          left: 1%;
          padding: 25px;
          width: 120%;
      
          
        }
        .cool-services-title {
         width: 100%;
         height: 50%;
         margin-left: 10px;
        }
        
        }

        @media only screen and (width: 414px) and (height: 846px) {
 
          .cool-services-container {
          font-size: 13px;
           padding: 70px;
           margin-left: -90px;
          }
          .cool-services-category-name{
          position: relative;
          bottom:20%;
          left: 10%;
          padding: 25px;
          width: 80%;
          line-height: 1.1;
          
          
          }
          .cool-services-description{
      
           height: 250px;
           margin-left: -9px;
           width: 150%;
           
          }
          .cool-services-category-description {
            position: relative;
            bottom:10%;
            left: 1%;
            padding: 25px;
            width: 120%;
        
            
          }
          .cool-services-title {
           width: 100%;
           height: 50%;
           margin-left: 23px;
          }
          
          }

          @media only screen and (width: 360px) and (height: 760px) {
 
            .cool-services-container {
            font-size: 13px;
             padding: 70px;
             margin-left: -90px;
            }
            .cool-services-category-name{
            position: relative;
            bottom:20%;
            left: 10%;
            padding: 25px;
            width: 80%;
            line-height: 1.1;
            
            
            }
            .cool-services-description{
        
             height: 250px;
             margin-left: 5px;
             width: 150%;
             
            }
            .cool-services-category-description {
              position: relative;
              bottom:10%;
              left: 1%;
              padding: 25px;
              width: 120%;
          
              
            }
            .cool-services-title {
             width: 100%;
             height: 50%;
             margin-left: 10px;
            }
            
            }

            @media only screen and (width: 360px) and (height: 800px) {
 
              .cool-services-container {
              font-size: 13px;
               padding: 70px;
               margin-left: -90px;
              }
              .cool-services-category-name{
              position: relative;
              bottom:20%;
              left: 10%;
              padding: 25px;
              width: 80%;
              line-height: 1.1;
              
              
              }
              .cool-services-description{
          
               height: 250px;
               margin-left: 5px;
               width: 150%;
               
              }
              .cool-services-category-description {
                position: relative;
                bottom:10%;
                left: 1%;
                padding: 25px;
                width: 120%;
            
                
              }
              .cool-services-title {
               width: 100%;
               height: 50%;
               margin-left: 10px;
              }
              
              }
              @media only screen and (width: 384px) and (height: 854px) {
 
                .cool-services-container {
                font-size: 13px;
                 padding: 70px;
                 margin-left: -90px;
                }
                .cool-services-category-name{
                position: relative;
                bottom:20%;
                left: 10%;
                padding: 25px;
                width: 80%;
                line-height: 1.1;
                
                
                }
                .cool-services-description{
            
                 height: 250px;
                 margin-left: -9px;
                 width: 150%;
                 
                }
                .cool-services-category-description {
                  position: relative;
                  bottom:10%;
                  left: 1%;
                  padding: 25px;
                  width: 120%;
              
                  
                }
                .cool-services-title {
                 width: 100%;
                 height: 50%;
                 margin-left: 23px;
                }
                
                }

                @media only screen and (width: 360px) and (height: 740px) {
 
                  .cool-services-container {
                  font-size: 13px;
                   padding: 70px;
                   margin-left: -90px;
                  }
                  .cool-services-category-name{
                  position: relative;
                  bottom:20%;
                  left: 10%;
                  padding: 25px;
                  width: 80%;
                  line-height: 1.1;
                  
                  
                  }
                  .cool-services-description{
              
                   height: 250px;
                   margin-left: 5px;
                   width: 150%;
                   
                  }
                  .cool-services-category-description {
                    position: relative;
                    bottom:10%;
                    left: 1%;
                    padding: 25px;
                    width: 120%;
                
                    
                  }
                  .cool-services-title {
                   width: 100%;
                   height: 50%;
                   margin-left: 13px;
                  }
                  
                  }

                  @media only screen and (width: 375px) and (height: 812px) {
 
                    .cool-services-container {
                    font-size: 13px;
                     padding: 70px;
                     margin-left: -90px;
                    }
                    .cool-services-category-name{
                    position: relative;
                    bottom:20%;
                    left: 10%;
                    padding: 25px;
                    width: 80%;
                    line-height: 1.1;
                    
                    
                    }
                    .cool-services-description{
                
                     height: 250px;
                     margin-left: 5px;
                     width: 150%;
                     
                    }
                    .cool-services-category-description {
                      position: relative;
                      bottom:10%;
                      left: 1%;
                      padding: 25px;
                      width: 120%;
                  
                      
                    }
                    .cool-services-title {
                     width: 100%;
                     height: 50%;
                     margin-left: 17px;
                    }
                    
                    }

                    @media only screen and (width: 414px) and (height: 896px) {
 
                      .cool-services-container {
                      font-size: 13px;
                       padding: 70px;
                       margin-left: -90px;
                      }
                      .cool-services-category-name{
                      position: relative;
                      bottom:20%;
                      left: 10%;
                      padding: 25px;
                      width: 80%;
                      line-height: 1.1;
                      
                      
                      }
                      .cool-services-description{
                  
                       height: 250px;
                       margin-left: -9px;
                       width: 150%;
                       
                      }
                      .cool-services-category-description {
                        position: relative;
                        bottom:10%;
                        left: 1%;
                        padding: 25px;
                        width: 120%;
                    
                        
                      }
                      .cool-services-title {
                       width: 100%;
                       height: 50%;
                       margin-left: 23px;
                      }
                      
                      }
                      @media only screen and (width: 390px) and (height: 844px) {
 
                        .cool-services-container {
                        font-size: 13px;
                         padding: 70px;
                         margin-left: -90px;
                        }
                        .cool-services-category-name{
                        position: relative;
                        bottom:20%;
                        left: 10%;
                        padding: 25px;
                        width: 80%;
                        line-height: 1.1;
                        
                        
                        }
                        .cool-services-description{
                    
                         height: 250px;
                         margin-left: -9px;
                         width: 150%;
                         
                        }
                        .cool-services-category-description {
                          position: relative;
                          bottom:10%;
                          left: 1%;
                          padding: 25px;
                          width: 120%;
                      
                          
                        }
                        .cool-services-title {
                         width: 100%;
                         height: 50%;
                         margin-left: 23px;
                        }
                        
                        }

                        @media only screen and (width: 428px) and (height: 926px) {
 
                          .cool-services-container {
                          font-size: 13px;
                           padding: 70px;
                           margin-left: -90px;
                          }
                          .cool-services-category-name{
                          position: relative;
                          bottom:20%;
                          left: 10%;
                          padding: 25px;
                          width: 80%;
                          line-height: 1.1;
                          
                          
                          }
                          .cool-services-description{
                      
                           height: 250px;
                           margin-left: -9px;
                           width: 150%;
                           
                          }
                          .cool-services-category-description {
                            position: relative;
                            bottom:10%;
                            left: 1%;
                            padding: 25px;
                            width: 120%;
                        
                            
                          }
                          .cool-services-title {
                           width: 100%;
                           height: 50%;
                           margin-left: 42px;
                          }
                          
                          }
                          @media only screen and (width: 320px) and (height: 568px) {
 
                            .cool-services-container {
                            font-size: 13px;
                             padding: 70px;
                             margin-left: -90px;
                            margin-bottom: 0%;
                            }
                            .cool-services-category-name{
                            position: relative;
                            bottom:20%;
                            left: 10%;
                            padding: 25px;
                            width: 80%;
                            line-height: 1.1;
                            
                            
                            }
                            .cool-services-description{
                        
                             height: 250px;
                             margin-left: -10px;
                             width: 170%;
                             
                            }
                            .cool-services-category-description {
                              position: relative;
                              bottom:10%;
                              left: 1%;
                              padding: 25px;
                              width: 120%;
                          
                              
                            }
                            .cool-services-title {
                             width: 100%;
                             height: 50%;
                             margin-left: -5px;
                            }
                            
                            }

                            @media only screen and (width: 375px) and (height: 667px) {
 
                              .cool-services-container {
                              font-size: 13px;
                               padding: 70px;
                               margin-left: -90px;
                              }
                              .cool-services-category-name{
                              position: relative;
                              bottom:20%;
                              left: 10%;
                              padding: 25px;
                              width: 80%;
                              line-height: 1.1;
                              
                              
                              }
                              .cool-services-description{
                          
                               height: 250px;
                               margin-left: -9px;
                               width: 150%;
                               
                              }
                              .cool-services-category-description {
                                position: relative;
                                bottom:10%;
                                left: 1%;
                                padding: 25px;
                                width: 120%;
                            
                                
                              }
                              .cool-services-title {
                               width: 100%;
                               height: 50%;
                               margin-left: 23px;
                              }
                              
                              }

                              @media only screen and (width: 414px) and (height: 736px) {
 
                                .cool-services-container {
                                font-size: 13px;
                                 padding: 70px;
                                 margin-left: -90px;
                                }
                                .cool-services-category-name{
                                position: relative;
                                bottom:20%;
                                left: 10%;
                                padding: 25px;
                                width: 80%;
                                line-height: 1.1;
                                
                                
                                }
                                .cool-services-description{
                            
                                 height: 250px;
                                 margin-left: -9px;
                                 width: 150%;
                                 
                                }
                                .cool-services-category-description {
                                  position: relative;
                                  bottom:10%;
                                  left: 1%;
                                  padding: 25px;
                                  width: 120%;
                              
                                  
                                }
                                .cool-services-title {
                                 width: 100%;
                                 height: 50%;
                                 margin-left: 23px;
                                }
                                
                                }
                                @media only screen and (width: 412px) and (height: 915px) {
 
    .cool-services-container {
    font-size: 13px;
     padding: 70px;
     margin-left: -90px;
    }
    .cool-services-category-name{
    position: relative;
    bottom:20%;
    left: 10%;
    padding: 25px;
    width: 80%;
    line-height: 1.1;
    
    
    }
    .cool-services-description{

     height: 250px;
     margin-left: -9px;
     width: 150%;
     
    }
    .cool-services-category-description {
      position: relative;
      bottom:10%;
      left: 1%;
      padding: 25px;
      width: 120%;
  
      
    }
    .cool-services-title {
     width: 100%;
     height: 50%;
     margin-left: 23px;
    }
    
    }