.conf-container {
    position: sticky;
    top: 0;
    height: 70vh;
    overflow: hidden;
    color: black;

  
  }
  
  .conf-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

 
  }
  
  .conf-content {
    position: absolute;
    top: 50%;
    left: 30%; 
    transform: translate(-50%, -50%);
    text-align: left; 
    color: #ffffff;
  }
  
  .conf-content p {
    font-size: 17px;
    font-weight: 700;
    line-height: 31.5714px;
    margin-left: 90px;
    margin-top: 30px;
  }
  
  .conf-content h1{
    margin-left: 260px;
  }
  
  .conf-button {
    display: block;
    height: 42.8589px;
    line-height: 14.592px;
    text-decoration: none solid rgb(255,255,255);
    word-spacing: 0px;
    background-color: #fff;
    color: #Fff;
    background-color: #1e17a1;
    border: 0px solid #1e17a1;
    border-radius: 50px;
    padding: 14px 40px 14px 40px;
    font-size: 1em;
    margin-top: 50px;
    margin-left: 380px;
    cursor: pointer;
    
  }

/*@media(max-width: 432px) {
    .conf-content h1{
      margin-left: -260px;
    }
    .conf-button 
      display: block;
      height: 62.8589px;
      line-height: 24.592px;
      
   
      background-color: #fff;
      color: #Fff;
      background-color: #1e17a1;
      border: 0px solid #1e17a1;
      border-radius: 50px;
      padding: 4px 20px; 
      white-space: nowrap;
      font-size: 1em;
      margin-top: 50px;
      margin-right: 120px;
      cursor: pointer;
    }
    
  }
  @media(max-width: 390px) {
    .conf-content h1{
      margin-left: 160px;
    }
    .conf-button {
      display: block;
      height: 62.8589px;
      line-height: 24.592px;
      
   
      background-color: #fff;
      color: #Fff;
      background-color: #1e17a1;
      border: 0px solid #1e17a1;
      border-radius: 50px;
      padding: 4px 20px; 
      white-space: nowrap;
      font-size: 1em;
      margin-top: 50px;
      margin-right: 120px;
      cursor: pointer;
      
    }
  
    
  }*/

  @media only screen and (width: 412px) and (height: 883px) {
    .conf-content {
      width: 100%;
    }
    .conf-button{
      padding: 30px;
      margin-left: 45%;
      line-height: 2px;
      margin-top: 2%
    }
    .conf-content h1 {
      font-weight: 600;
      margin-left: 25%;
      padding: 20px;
    }
    .conf-content p{
      margin-left: 27%;
      line-height: 30px;
  }
  .conf-container {
    padding: 20px;
  }
  }

  @media only screen and (width: 412px) and (height: 915px) {
  
    .conf-button{
      padding: 22px;
      margin-left: 45%;
      line-height: 2px;
    }
    .conf-content h1 {
      font-weight: 600;
      margin-left: 25%;
      padding: 20px;
    }
    .conf-content p {
      width: 90%;
      line-height: 28px;
    }
    .conf-container {
      padding: 20px;
    }
  }
  
  @media only screen and (width: 414px) and (height: 846px) {
    
    .conf-button{
      padding: 22px;
      margin-left: 45%;
      line-height: 2px;
    }
    .conf-content h1 {
      font-weight: 600;
      margin-left: 25%;
      padding: 20px;
    }
    .conf-content p {
      width: 90%;
      line-height: 28px;
    }
    .conf-container {
      padding: 20px;
    }
  }

  @media only screen and (width: 360px) and (height: 760px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 15%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 120px; 
      
      padding-left: 20px; 
    
    }
    .conf-container {
      padding: 12px;
    }
 
  }
  

  @media only screen and (width: 360px) and (height: 640px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 20%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 20px; 
    
    }
 
  }
  
  @media only screen and (width: 360px) and (height: 800px) {
    .conf-content {
      width: 100%;
    }
    .conf-button{
      padding: 23px;
      margin-left: 45%;
      line-height: 2px;
      margin-top: -3%
    }
    .conf-content h1 {
      font-weight: 600;
      margin-left: 25%;
      padding: 20px;
    }
    .conf-content p{
      margin-left: 27%;
      line-height: 30px;
  }
  .conf-container {
    padding: 20px;
  }
  }

  @media only screen and (width: 384px) and (height: 854px) {
    .conf-content {
      width: 100%;
    }
    .conf-button{
      padding: 30px;
      margin-left: 45%;
      line-height: 2px;
      margin-top: 2%
    }
    .conf-content h1 {
      font-weight: 600;
      margin-left: 25%;
      padding: 20px;
    }
    .conf-content p{
      margin-left: 27%;
      line-height: 30px;
  }
  .conf-container {
    padding: 20px;
  }
  }

  @media only screen and (width: 360px) and (height: 640px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }


  }
  @media only screen and (width: 360px) and (height: 740px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 115px; 
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:12px;
 }


  }

  @media only screen and (width: 375px) and (height: 812px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }

 
  }
  @media only screen and (width: 414px) and (height: 896px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }

 
  }

  @media only screen and (width: 390px) and (height: 844px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }


  }

  @media only screen and (width: 428px) and (height: 926px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }


  }

  @media only screen and (width: 375px) and (height: 667px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 12px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:2px;
 }

 
  }

  @media only screen and (width: 414px) and (height: 736px) {
    .conf-button {
      padding: 22px;
      width: 40%;
      margin: 0 auto;
      line-height: 2px;
      margin-bottom: 8%;
      margin-right: -2px;
    }
  
    .conf-content h1 {
      font-weight: 600;
      text-align: center;
      margin-top: 9%;
      transform: translateX(-130px);
    }
    .conf-content p {
      margin-left: 100px; 
      
      padding-left: 22px; 
    
    }
 .conf-container{
  margin-bottom: 10%;
  padding:20px;
 }

 
  }
